// Menu
aside.app__aside
  
  .app__aside__items
  
    .app__aside__items__item(ui-sref='feed', ui-sref-active='active')
      i.app__aside__items__item__icon.ion.ion-ios-pulse
      i.app__aside__items__item__icon.ion.ion-ios-pulse-strong
      span.app__aside__items__item__title Feed
      
    .app__aside__items__item(ui-sref='quotes', ui-sref-active='active')
      i.app__aside__items__item__icon.ion.ion-ios-list-outline
      i.app__aside__items__item__icon.ion.ion-ios-list
      span.app__aside__items__item__title Quotes

    .app__aside__items__item(ui-sref='portfolio', ui-sref-active='active')
      i.app__aside__items__item__icon.ion.ion-ios-keypad-outline
      i.app__aside__items__item__icon.ion.ion-ios-keypad
      span.app__aside__items__item__title Portfolio

    .app__aside__items__item(ui-sref='settings', ui-sref-active='active')
      i.app__aside__items__item__icon.ion.ion-ios-gear-outline
      i.app__aside__items__item__icon.ion.ion-ios-gear
      span.app__aside__items__item__title Settings
    
