html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='manifest', href='/manifest.webmanifest')
    link(rel='stylesheet', href='assets/stylesheets/main.min.css')
    title Trader 101
  body.app(ng-app='app', ng-controller='ctrl', ng-cloak)
  
    // Permnanet Conponents
    trader-header(user='user')
    trader-aside

    // View Conponent
    ui-view

    // Scripts
    script(src='assets/javascripts/app.min.js')
