html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    link(rel='manifest', href='/manifest.webmanifest')
    link(rel='stylesheet', href='assets/stylesheets/main.min.css')
    title Trader 101
  body.app(ng-app='app', ng-controller='ctrl', ng-cloak)
  
    // Permnanet Conponents
    trader-header(user='user')
    trader-aside

    // View Conponent
    ui-view

    // Libs
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js')
    script(src='https://unpkg.com/angular-ui-router@0.3.2/release/angular-ui-router.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(src='https://d3js.org/d3.v3.min.js')
    script(src='https://www.gstatic.com/firebasejs/3.5.2/firebase-app.js')
    script(src='https://www.gstatic.com/firebasejs/3.5.2/firebase-auth.js')
    script(src='https://www.gstatic.com/firebasejs/3.5.2/firebase-database.js')
    
    // Scripts
    script(src='assets/javascripts/app.min.js')
