
// Scripts
script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js')
script(src='https://d3js.org/d3.v3.min.js')

script(src='https://www.gstatic.com/firebasejs/3.5.2/firebase-app.js')
script(src='https://www.gstatic.com/firebasejs/3.5.2/firebase-auth.js')
script(src='https://www.gstatic.com/firebasejs/3.5.2/firebase-database.js')
script(src='https://www.gstatic.com/firebasejs/3.5.2/firebase-messaging.js')
script(src='assets/app.min.js')
