// Component Quotes
.app__component.app__component--quotes
  // Settings bar
  .app__component--quotes__settings(ng-init='$ctrl.layout = "apps-layout"')

    // Layout toggle
    .app__component--quotes__settings__layout
      i.ion.ion-android-apps(ng-click='$ctrl.layout = "apps-layout"', class='{{layout == "apps-layout" && "active" }}')
      i.ion.ion-android-menu(ng-click='$ctrl.layout = "menu-layout"', class='{{layout == "menu-layout" && "active" }}')  
      
    // Search and info
    .app__component--quotes__settings__search
      i.app__component--quotes__settings__search__info.ion.ion-information-circled   
      .app__component--quotes__settings__search__text
        small.app__component--quotes__settings__search__text__small Composites NASDAQ/FTSE 100.
        small.app__component--quotes__settings__search__text__small Stock quotes are updated every minute. 
        small.app__component--quotes__settings__search__text__small Click on a specific card to get historic data.

      input.app__component--quotes__settings__search__input(ng-model='$ctrl.search', placeholder="Search", type="text", required="")
      
    // Sorting toggle.
    .app__component--quotes__settings__sort
      .item Sort by
      .items
        .item(ng-click='$ctrl.sort = $ctrl.sort == "t" ? "-symbol": "symbol"')
          div(ng-class='($ctrl.sort == "symbol" || sort == "-symbol") && "active"') Company
        .item(ng-click='$ctrl.sort = $ctrl.sort == "-change" ? "change": "-change"')
          div(ng-class='(sort == "change" || sort == "-change") && "active"') Change
        .item(ng-click='$ctrl.sort = $ctrl.sort == "-changePercent" ? "changePercent": "-changePercent"')
          div(ng-class='($ctrl.sort == "changePercent" || $ctrl.sort == "-changePercent") && "active"') Change %
    
  // Cards with stock quotes of companies, which are sorted by company code by default.
  .app__component--quotes__companies(class='{{ $ctrl.layout }}', ng-init='sort = "symbol"')     

    // Iterating through each company in FTSE and NASDAQ stock markets.
    .quote(ng-repeat='quote in $ctrl.quotes | filter : $ctrl.search | orderBy : $ctrl.sort track by $index', ng-click='$ctrl.getCompany(quote.symbol)')
      
      // Compnay's stock code.
      .company-symbol.t {{ quote.symbol }} 
      
      // Full name of a company.
      .company-name {{ quote.name }}
      
      // Arrow, quote, and currency.
      .l
         .ion.ion-arrow-up-a(ng-if='quote.change > 0')
         .ion.ion-arrow-down-a(ng-if='quote.change < 0')
         .ion.ion-arrow-right-a(ng-if='quote.change == 0')
         span {{ quote.level | number : 2 }}
         span.unit  {{ quote.market == 'FTSE 100' ? 'GPB' : 'USD' }}
      
      // Change of a stock quote expressed in based curreny and percentage.
      .flex(class='{{ quote.change > 0 ? "rise" : quote.change < 0 ? "loss": ""}}')
        .c {{ quote.change | number : 2}}
        .cp {{ quote.changePercent | number : 2 }}% 
      
      .lt
        // Time when the quote was last registered on a market. Note that when market is closed there is nothing to be updated.
        span {{ quote.timestamp | date : 'MMM d, yyyy h:mm a' }}
        // Stock market symbol: either FTSE 100 (UK) or NASDAQ 100 (USA). Note that FTSE is also refered as LON by some institutions.
        span {{ quote.market }}
