// Component Feed
.app__component.app__component--feed

  .app__component--feed__cards
    .app__component--feed__cards__card Suggested Investment
    .app__component--feed__cards__favorites
      .app__component--feed__cards__favorites__favorite Favorite 1
      .app__component--feed__cards__favorites__favorite Favorite 2
      .app__component--feed__cards__favorites__favorite Favorite 3
      
  .app__component--feed__cards.app__component--feed__cards--tip
    .app__component--feed__cards__card.app__component--feed__cards__card--tip
      p If you had invested <strong>$1000</strong> in <strong>GOOG</strong> <em>a week ago</em>.
      p Today you would be <strong>$54</strong> richer.

    //- .app__component--feed__news News
